@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200&family=IBM+Plex+Serif:ital,wght@0,200;1,100&family=Lora&family=Open+Sans&display=swap');

* {
    font-family: Blinker;
    font-weight: 700;
}   
:root {
    --blue: #002E94;
    --navBar: #0818A8;
    --title: #090f29;
    --white-title: #ffffff;
    --info-color: #252429;
    --links: #0F1A32;
    --orange: #E79336;
    --surfieGreen: #106D86;
    --bleachedCedar: #221623;
    --comoris: #64728b;
    --blue-hover: #aab0e0;
    --footer-bck: #072146;
    --wrong-color: #FF0000; 
    --valid-color: #23DC3D;
    --input-focus-color: #212427; 
}
nav{
    background-color:var(--navBar)	;
    color: white;
}
.container-fluid{
    color: white;
}
.img-nav{
    margin: 0;
    max-width: 10vw;
    min-width: 100px;
}

.nav-link{ 
    color: white;
}

.bck_home{
    position: relative;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    opacity: 0.9;
    filter: brightness(0.7);
}


.card-home {
    color: white;
    position: absolute;
    padding: 30px;
    font-size: 2em;
    top: 280px;
    right: inherit;
    min-width: 270px;
    font-weight: 900;
    animation: myfirst 2s 1;
    letter-spacing: 1.3px;
    
}

.main-about{
    padding: 0.5em;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
    opacity: 0.9;
    object-fit: cover;
}

.about-img{
    display: flex;
    max-width: 450px;
    margin: auto;
    border-radius: 2px;
    box-shadow: 1px 2px 30px rgb(10, 10, 10);
}

.text-description p{
    font-size: 1.2em;
}

.services-main{
    position: relative;
}
button .navbar-toggler {  
    color: white !important;; 

}
.navbar-toggler-icon span{ 
    background-image: white !important; 
    box-shadow: 1px 1px 1px white;
}


.container-fluid .navbar-toggler{
    color: white;
    background-image: white !important; 
}




footer{
    background-color: #002E94;
}

footer {
    z-index: 1;
    background-color: var(--footer-bck);
    padding: 1em;
    position: relative;
    bottom: 0px;
}

.footer-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer-imgtype {
    max-width: 300px;
    text-align: center;
    padding: 1.5em;
}


.icons-links a {
  text-decoration: none;
    color: white;
    font-size: 0.8em;
    padding: 1em;
}

.footer-imgtype div a {
    padding: 1em;
}

.fa-brands {
    color: white;
    font-size: 2em;
}

.fa-brands:hover {
    color: var(--orange);
    transform: scale(1.3);
}

.siteMap-links a {
    background-color: var(--footer-bck);

}

#siteMap a {
    color: white;
    padding-left: 1em;
    text-decoration: none;
    font-weight: 500;

}

.copyRight {
    margin-top: 1em;
    background-color: var(--footer-bck);
    color: var(--surfieGreen);
    text-align: center;
}

.carousel-caption  h5{
    font-weight: 800;
    color: white;
    letter-spacing: 1.4px;
    font-size: 2em;
}

.carousel-caption p{
    letter-spacing: 1.4px;
}

.carousel-item img{
    filter: brightness(0.7);

}







/* FORM */

#form{
    display: none;
    position: absolute;
    flex-direction: column;
    top: 30vh;
    margin: 0 auto;
     left: 30vw;
    /*right: 10vw; */
    background-color: white;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1px 1px 20px black;
    z-index: 2;
}

.fa-x{
    cursor: pointer;
    position: absolute;
    right: 10px;
}

.valid {
    color: var(--valid-color);
  }
  
  .valid:before {
    position: relative;
    padding: 2px;
    content: "✅";
  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: var(--wrong-color);
  }
  
  .invalid:before {
    position: relative;
    padding: 2px;
    content: "⚠️";
  }

  #invalid-feedback-input-1, #invalid-feedback-input-2, #invalid-feedback-input-3, #invalid-feedback-input-4 {
    color: var(--wrong-color);
    padding-left: 1em;
    font-weight: 800;
}
  




/* Dash */


.nav-width{
    max-width: 10vw;
}
.flex-column{
    background-color: #106D86;
}
.table-container{
    background-color: #072146;
    width: 100vw;
}

.fa-power-off{
    cursor: pointer;
}


/* Log In  */
#body-color-log{
background-color: var(--footer-bck);
}
.form-id{
    color: black;
    margin: 3em auto;
    background-color: white;
    box-shadow: 1px 1px 5px black;
    border-radius: 5px;
    max-width: 35vw;
    padding:  3em 1em;
}

.fax-log{
    padding: 2em;
    top:10px;
    font-size: .7em;
    color: white;
}

.cont-log{
    padding: 2em;
}

.icon-black-container{
display: flex;
flex-direction: column;
align-items: center;
padding-bottom: 2em;

}


/* Home */
.home-page{

    margin-top: 5em;
}

.title-home{
    text-align:center;
}

.newOrder{
    display: none;
    position: absolute;
    z-index: 1;
    top: 5em;
    background-color: #002E94;
    align-items: stretch;
    margin: 0 10vw  ;
    max-width: 90vw;
}

.info-bar{
    margin: 0 2em;
    display: flex;
    justify-content: space-between;
}

/* Model import operation */
#modal-import-operation{
    position:absolute;
    top: 4em;
    left: 10%;
    padding: 1em;
    z-index: 1;
    margin: 1em 1em;
    width: 60vw;
    background-color: white;
    box-shadow: 1px 1px 20px var(--bleachedCedar);
    border-radius: 5px;
}


/* MEDIA QUERIES  */
@media (max-width:950px){
    .about-img {
        display: none;
    }
    .main-about {
        display: grid;
        grid-template-columns: 1fr;
        z-index: -1;
    }

   
}

@media (max-width: 500px){
    .footer-imgtype{
    display: flex;  
    max-width: 95vw; 
    padding: 0.3em;
    margin: 0;
    left: 0;
 }

body{
    zoom: 80%;
}

.card-home{
    /* display: none; */
padding: 5px;    max-width: 10px;
    font-size: 150%;
}

.carousel-caption{
    color: white;
    font-size: 1em;
}

.carousel-item img{
    filter: brightness(0.5);
}

.icons-links{
    display: flex;
    flex-direction: row;
}

#modal-import-operation{
    left: 5%;
    zoom: 100%;
    width: 80%;
}
    .table{
        zoom: 55%;
    }

}

@media (max-width: 280px){


body{
    zoom: 45%;
}
}
@media (max-width: 650px) {
    
    #form{
        display: none;
        position: absolute;
        flex-direction: column;
        z-index: 1;
        background-color: white;
        left: 10px;
        right: 10px;
    }
    
    .form-id{
        min-width: 80vw;
    }

    #modal-import-operation{
        left:   ;
    }
    }
